.env
.venv
build
__pycache__
.pytest_cache
.next
node_modules
out
user_data
app_data
tmp
debug
.fastembed_cache

generated_models
nltk
chroma
container.db
.next-build
.cursor
servers/fastapi/.venv_sys/
servers/fastapi/presenton_backend.egg-info/
.vercel/output/
